<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Caesar</title>

    <style>
        form {
            background-color: #eee;
            padding: 20px;
            margin: 0 auto;
            width: 540px;
            font: 16px sans-serif;
            border-radius: 10px;
        }

        textarea {
            margin: 10px 0;
            width: 540px;
            height: 120px;
        }
    </style>
</head>

<body>
    <form action="https://duckduckgo.com" method="get">
        <label for="rotate">Rotate By:</label>
        <input id="rotate" type="text" name="q" />
        <textarea name="text" id="" cols="30" rows="10"></textarea>
        <input type="submit" name="" id="">
    </form>
</body>

</html>